@tailwind base;
@tailwind components;
@tailwind utilities;

.dash-title::before {
  content: "";
  position: absolute;
  left: -70px;
  margin-left: 10px;
  top: 50%;
  height: 3px;
  width: 45px;
  background: #ff7f2a;
}

.dash-title {
  position: relative;
  margin-left: 70px;
}

.service-card-background {
  background: linear-gradient(0, rgb(246 242 238) 70%, #ffffff 0%);
}
