@tailwind base;
@tailwind components;
@tailwind utilities;

.dash-title {
  position: relative;
  margin-left: 70px;
}

.dash-title::before {
  content: "";
  position: absolute;
  left: -70px;
  margin-left: 10px;
  top: 50%;
  height: 3px;
  width: 45px;
  background-color: #ff7f2a;
}

.section-title {
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #ff7f2a;
}
