@tailwind base;
@tailwind components;
@tailwind utilities;

.dash-title {
  position: relative;
  margin-left: 70px;
}

.dash-title::before {
  content: "";
  position: absolute;
  left: -70px;
  margin-left: 10px;
  top: 50%;
  height: 3px;
  width: 45px;
  background-color: #ff7f2a;
}

.section-title {
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: #ff7f2a;
}

.header-item {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.header-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 0;
  background-color: #FF7F2A;
  height: 4px;
  width: 0;
  transition: all 0.2s ease-in-out;
}

.header-item:hover::before {
  width: 50%;
}

.header-item-active {
  position: relative;
}

.header-item-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 0;
  background-color: #FF7F2A;
  height: 4px;
  width: 50%;
}

.social-btn {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.social-btn::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 12px;
  right: 0;
  background-color: #FF7F2A;
  height: 3px;
  width: 0;
  transition: all 0.2s ease-in-out;
  
}

.social-btn:hover::before {
  width: 50%;
}
